@use "sass:meta";
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;300;400;500;600;700&display=swap');

@include meta.load-css("global");
@include meta.load-css("pages");
@include meta.load-css("sections");
@include meta.load-css("components");