#page-appointment .v-main {
  .custom-label {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
  }

  .custom-input :deep(.v-field) {
    background-color: #f2f2f2;
    border: 2px solid #6e2b95;
    border-radius: 14px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  }

  .custom-btn {
    background-color: #5D2B74;
    color: rgba(255, 255, 255, 0.87);
    font-weight: bold;
    text-transform: none;
    border-radius: 24px;
  }

  .search-radius-label {
    color: white;
    font-weight: 500;
    font-size: 16px;
  }

  .radius-select {
    width: 150px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }

  .churches-list {
    max-height: 300px;
    overflow-y: auto;
    border-radius: 12px;
  }

  .church-card {
    background-color: #333;
  }

  .church-card-text {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quote {
    font-family: 'Grenze Gotisch', serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-align: center;
    font-style: italic;
  }

  .v-dialog .v-card-title,
  .v-dialog .v-card-text {
    color: black;
  }

  .v-btn[disabled] {
    opacity: 0.6 !important;
  }
}
